
:root{
    --first-color: #429b34;
    --second-color: #60b84f;
    --third-color: #7ed46a;
    --white-color: #fff

}

.roboto-fraco {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

